<header class="header">
    <div class="header__logo-box">
      <img src="../../assets/img/rose.svg" alt="flower" class="header__logo-box--logo">
    </div>
    <div class="header__title-box">
      <h1 class="heading-primary">
          <span class="heading-primary--main">Pétale</span>
          <span class="heading-primary--submain">Davao</span>
          <span class="heading-primary--sub">by: Dianne Rose</span>
      </h1>
      <a href="#" class="btn btn--white btn--booknow">Book Now</a>
    </div>
</header>
  