.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.6rem;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        font-weight: 700;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 1rem rgba(19, 19, 19, 0.8);
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem .5rem rgba(19, 19, 19, 0.8);
    }
    
    &--white {
        background-color: #fff;
        color: rgb(0, 0, 0);
    }
}