<app-header></app-header>
<main>
    <section class="section-about">
        <div class="center-text margin-bottom-60">
            <h2 class="heading-secondary">
                What makes us <div class="heading-secondary--stylechange">different?</div>
            </h2>
        </div>
        <div class="row">
            <div class="col-1-1 center-text">
                <div class="composition">
                    
                    <img src="../../../../../assets/img/random/IMG_1860.JPG" alt="" class="composition__image composition__image--2">
                    
                    <img src="../../../../../assets/img/floralboxes/IMG_2010.JPG" alt="" class="composition__image composition__image--1">
                    <img src="../../../../../assets/img/sunflower/IMG_2051.JPG" alt="" class="composition__image composition__image--4">
                    <img src="../../../../../assets/img/redroses/IMG_1648.JPG" alt="" class="composition__image composition__image--3">

                    
                    <!-- <img src="../../../../../assets/img/sunflower/IMG_2049.JPG" alt="" class="composition__image composition__image--5"> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3-4">
                <h3 class="heading-tertiary margin-bottom-s">From farmer to customer</h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget bibendum augue,
                    sit amet accumsan tellus. In efficitur magna porttitor augue luctus, vel commodo nisl efficitur.
                    Aenean eget accumsan leo. Maecenas blandit felis sed venenatis iaculis. Proin sollicitudin sem et iaculis efficitur. Fusce scelerisque,
                    sem ac malesuada rutrum, velit dui condimentum augue, pretium auctor nisl massa faucibus magna. Quisque maximus nisi vel enim vestibulum,
                    quis mattis leo lobortis. Curabitur ullamcorper nunc sem, sed lobortis ante ultrices ut. Proin sit amet vestibulum augue, ut porta odio.
                    Quisque viverra tempus magna quis maximus. Nulla ac ipsum dapibus, auctor velit ut, pulvinar ante. Integer magna diam, varius at scelerisque elementum, 
                    interdum a arcu. Quisque semper sodales malesuada. Vivamus molestie neque quis pharetra consectetur.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <h3 class="heading-tertiary margin-bottom-s">Products and services</h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget bibendum augue,
                    sit amet accumsan tellus. In efficitur magna porttitor augue luctus, vel commodo nisl efficitur.
                    Aenean eget accumsan leo. Maecenas blandit felis sed venenatis iaculis. Proin sollicitudin sem et iaculis efficitur.
                </p>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget bibendum augue,
                    sit amet accumsan tellus. In efficitur magna porttitor augue luctus, vel commodo nisl efficitur.
                </p>
            </div>
            <div class="col-1-4">
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget bibendum augue,
                    sit amet accumsan tellus. In efficitur magna porttitor augue luctus, vel commodo nisl efficitur.
                </p>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget bibendum augue,
                    sit amet accumsan tellus. In efficitur magna porttitor augue luctus, vel commodo nisl efficitur. sit amet accumsan tellus. 
                    In efficitur magna porttitor augue luctus, vel commodo nisl efficitur.
                </p>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>